<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detail student</title>
</head>
<body>
    <header th:replace="common::headerProduct"></header>
    <p>Id : <span th:text="${productDetail.id}"></span></p>
    <p>Name : <span th:text="${productDetail.name}"></span> </p>
    <p>Where Production: <span th:text="${productDetail.whereProduction}"></span></p>
    <p>Color : <span th:text="${productDetail.color}"></span> </p>
    <p>Price : <span th:text="${productDetail.price}"></span> </p>
    <footer th:replace="common::footerProduct"></footer>
</body>
</html>
