<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List student</title>
</head>
<body>
    <header th:replace="~{common::headerProduct}"></header>
<!--    <p style="color: green" th:text="${message}"></p>-->
    <a href="/product/create">Add a new Product</a>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Where Production</th>
            <th>Color</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <th:block th:each="product : ${listProduct}">
            <tr>
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.whereProduction}"></td>
                <td th:text="${product.color}"></td>
                <td th:text="${product.price}"></td>

                <td><a th:href="@{/product/detail(id=${product.id})}">Edit</a></td>
                <td><a th:href="@{/product/detail/{id}(id=${product.id})}">Delete</a></td>
            </tr>
        </th:block>
    </table>
<!--    <footer th:insert="common::footerStudent"></footer>-->
<!--    <th:block th:insert="common::footerStudent"></th:block>-->
    <footer th:replace="common::footerProduct"></footer>
</body>
</html>
