<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Customer</title>
</head>
<body>
<header th:replace="common::headerCustomer"></header>
<form  th:action="@{/customer/update}" th:method="post" th:object="${customerUpdate}">
    <input type="hidden" th:field="*{id}" />
    <p>Name:</p>
    <input type="text" th:field="*{name}"/>
    <!--        <input type="text" th:field="${student.name}"/>-->
    <p>Address:</p>
    <input type="text" th:field="*{address}" />
    <!--        <input type="date" th:field="${student.dateOfBirth}"/>-->
    <br>
    <input type="submit" value="Update" />
</form>
<footer th:replace="common::footerCustomer"></footer>
</body>
</html>
