<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Customer</title>
</head>
<body>
<header th:replace="~{common::headerCustomer}"></header>
<p style="color: green" th:text="${message}"></p>

<form action="/customer">
    <input type="text" name="keyword" th:value="${keywordOld}">
    <input type="submit" value="Search">
</form>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Type Customer</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="customer : ${list}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.address}"></td>
        <td th:text="${customer.typeCustomer.type_name}"></td>
        <td><a th:href="@{/customer/update(id=${customer.id})}">Edit</a></td>
        <td><a th:href="@{/customer/delete(id=${customer.id})}">Delete</a></td>
    </tr>
</table>
<a th:if="${list.hasPrevious()}" th:href="@{/customer(page =${list.number - 1}, keyword = ${keywordOld})}">Previous</a>
<span th:text="${list.number + 1}"></span>/<span th:text="${list.totalPages}"></span>
<a th:if="${list.hasNext()}" th:href="@{/customer(page = ${list.number + 1}, keyword = ${keywordOld})}">Next</a>
<footer th:replace="~{common::footerCustomer}"></footer>
</body>
</html>