<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%7CVarela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <style>
        .modal-content {
            width: 150%;
        }
    </style>

</head>
<body>
<div class="container-fluid">
    <h1 style="text-align: center">Table Customer</h1>
    <br>
    <div class="row">
        <div class="col-lg-6">
                        <a class="btn btn-primary" data-toggle="modal" data-target="#createModalForm" role="button">
                            Create a new customer
                        </a>
        </div>

        <div class="col-lg-6">
            <div class="row float-right">
                <form action="/customer" class="form-inline my-2 my-lg-0 float-right">
                    <input class="form-control mr-sm-2" type="search" th:name="keyword" th:value="${keyword}"
                           placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Search
                    </button>
                </form>
            </div>
<!--                    <form action="/student">-->
            <!--                <input type="text" class="form-control"  name="keyword"  th:value="${keywordOld}" />-->
            <!--                <input type="submit" value="Search" role="button" />-->
            <!--            </form>-->
        </div>
    </div>

    <br>
    <div style="text-align: center">

        <h3 style="color: green" th:text="${message}"></h3>


    </div>
    <br>

    <div class="row">

        <div class="col-lg-12">

            <div class="table-responsive">

                <table id="mytable" class="table table-bordred table-striped">


                    <th>Id</th>
                    <th>Type Customer</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Gender</th>
                    <th>ID Card</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Detail</th>

                    <th:block th:each="customer : ${listCustomer}">
                        <tr>
                            <td th:text="${customer.customerId}"></td>
                            <td th:text="${customer.customerType.typeCustomerName}"></td>
                            <td th:text="${customer.customerName}"></td>
                            <td th:text="${customer.customerBirthday}"></td>
                            <td th:text="${customer.gender}"></td>
                            <td th:text="${customer.idCard}"></td>
                            <td th:text="${customer.phoneNumber}"></td>
                            <td th:text="${customer.email}"></td>
                            <td th:text="${customer.address}"></td>
                            <!--                            <td>-->
                            <!--                                <a th:href="@{/customer/update(id=${customer.customerId})}">-->
                            <!--                                    <i class="fas fa-pen"></i>-->
                            <!--                                </a>-->
                            <!--                            </td>-->
                            <td>
                                <!--                    BUTTON EDIT-->
                                <span class="update"
                                      th:data-id="${customer.customerId}"
                                      th:data-type_id="${customer.customerType.typeCustomerId}"
                                      th:data-name="${customer.customerName}"
                                      th:data-birthday="${customer.customerBirthday}"
                                      th:data-gender="${customer.gender}"
                                      th:data-id_card="${customer.idCard}"
                                      th:data-phone_number="${customer.phoneNumber}"
                                      th:data-email="${customer.email}"
                                      th:data-address="${customer.address}">
                                     <a href="" class="btn btn-default btn-rounded abc" data-toggle="modal"
                                        data-target="#darkModalForm"
                                        id="update">
                                        <i class="fas fa-pen-square"></i>

                                         </i>
                                    </a>
                                </span>

                            </td>
                            <td>
                                <!-- Button trigger modal -->
                                <button style="border:1px solid " type="button" class="btn" data-toggle="modal"
                                        th:data-target="'#del'+ ${customer.customerId}">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                                <!-- Delete by Modal -->
                                <div class="modal fade" th:id="'del'+${customer.customerId}" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Delete Customer??</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete Customer have ID is <span
                                                    th:text="${customer.customerId}"></span>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <a th:href="@{/customer/deleteModal(id=${customer.customerId})}">
                                                    <button type="button" class="btn btn-primary">Delete</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="detail"
                                      th:data-id="${customer.customerId}"
                                      th:data-type_id="${customer.customerType.typeCustomerId}"
                                      th:data-name="${customer.customerName}"
                                      th:data-birthday="${customer.customerBirthday}"
                                      th:data-gender="${customer.gender}"
                                      th:data-id_card="${customer.idCard}"
                                      th:data-phone_number="${customer.phoneNumber}"
                                      th:data-email="${customer.email}"
                                      th:data-address="${customer.address}">
                                     <a href="" class="btn btn-default btn-rounded abc" data-toggle="modal"
                                        data-target="#detailModalForm"
                                        id="detail">
                                       <i class="fas fa-info-circle"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </th:block>
                </table>
                <a th:if="${listCustomer.hasPrevious()}" th:href="@{/customer(page = ${listCustomer.number - 1},
                                                                                keyword = ${keyword})}">Previous</a>
                <span th:text="${listCustomer.number + 1}"></span>/<span th:text="${listCustomer.totalPages}"></span>
                <a th:if="${listCustomer.hasNext()}" th:href="@{/customer(page = ${listCustomer.number + 1},
                                                                                keyword = ${keyword})}">Next</a>

                </table>

                <!--              -->

            </div>

        </div>
    </div>
</div>

<!---------------------------------------------Modal Detail-------------------------------------------------------------->
<div th:if="${customer1}">
    <div class="modal fade" id="detailModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog form-dark" role="document">
            <!--Content-->
            <div class="modal-content card card-image" style="background-color: powderblue">
                <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
                    <!--Header-->
                    <div class="modal-header text-center pb-4">
                        <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel2">
                            <strong>EDIT</strong> <a
                                class="green-text font-weight-bold"><strong> Customer</strong></a></h3>
                        <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <!--Body-->
                        <form th:object="${customer1}" th:action="@{/customer/detailModal}" method="post">
                 <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Id:</div>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="customerIDDetail"
                                              th:field="*{customerId}" readonly>

                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Customer type:
                                    </div>
                                    <div class="col-md-10">
                                        <input class="form-control" id="typeIdDetail" th:field="*{customerType}" readonly>

                                        </input>

                                    </div>
                                </div>
                            </div>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Name:</div>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="customerNameDetail"
                                                                 th:field="*{customerName}" readonly>

                                        </input>
                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Birthday :</div>
                                    <div class="col-md-10"><input type="date" class="form-control" id="customerBirthdayDetail"
                                                                 th:field="*{customerBirthday}" readonly>

                                    </input>
                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Gender :</div>
                                    <div class="col-md-10">

                                        <input th:field="*{gender}" id="cutomerGenderDetail" class="form-control" readonly>
                                        </input>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">ID card :</div>
                                    <div class="col-md-10"><input type="text" class="form-control" id="id_cardDetail"
                                                                  th:field="*{idCard}" readonly>
                                    </input>
                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Phone :</div>
                                    <div class="col-md-10"><input type="text" class="form-control" id="phone_numberDetail"
                                                                  th:field="*{phoneNumber}" readonly>
                                    </input>
                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Email :</div>
                                    <div class="col-md-10"><input type="text" class="form-control" id="emailDetail"
                                                                  th:field="*{email}" readonly>
                                    </input>
                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Address :</div>
                                    <div class="col-md-10"><input type="text" class="form-control" id="addressDetail"
                                                                  th:field="*{address}" readonly>
                                    </input></div>
                                </div>

                            </div>
                            <br>


                            <!--Grid row-->
                            <div class="row d-flex align-items-center mb-4">

                                <!--Grid column-->
                                <div class="text-center mb-3 col-md-12">
                                    <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1">
                                        Update
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
</div>
<!----------------------------------------------------------------------->

<!-----------------------CREATE CUSSTOMER------------------>
<div th:if="${customer2}">
    <div class="modal fade" id="createModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog form-dark" role="document">
            <!--Content-->
            <div class="modal-content card card-image" style="background-color: lightskyblue">
                <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
                    <!--Header-->
                    <div class="modal-header text-center pb-4">
                        <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel1">
                            <strong>Create</strong> <a
                                class="green-text font-weight-bold"><strong> Customer</strong></a></h3>
                        <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <!--Body-->
                        <form th:object="${customer2}" th:action="@{/customer/createModal}" method="post">
                            <input type="hidden" id="validate" th:value="${#fields.hasErrors()}">
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Id:</div>
                                    <div class="col-md-10"><input type="text" class="form-control" id="customerIDCreate"
                                                                  th:field="*{customerId}" ></div>
                                </div>
                                <p class="col-md-10 offset-2" style="color: red" th:if="${#fields.hasErrors('customerId')}"
                                   th:errors="*{customerId}"></p>
                            </div>
                            <br>

                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Customer type:
                                    </div>
                                    <div class="col-md-10">
                                        <select class="form-control" id="typeIdCreate" th:field="*{customerType}">
                                            <option th:each="typeCustomer: ${listTypeCustomer}"
                                                    th:text="${typeCustomer.typeCustomerName}"
                                                    th:value="${typeCustomer.typeCustomerId}"></option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Name:</div>
                                    <div class="col-md-10"><input type="text" class="form-control"
                                                                  id="customerNameCreate"
                                                                  th:field="*{customerName}"></div>
                                </div>
                                <p class="col-md-10 offset-2" style="color: red; text-align: center" th:if="${#fields.hasErrors('customerName')}"
                                   th:errors="*{customerName}"></p>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Birthday :</div>
                                    <div class="col-md-10"><input type="date" class="form-control"
                                                                  id="customerBirthdayCreate"
                                                                  th:field="*{customerBirthday}"></div>
                                </div>
                                <p class="col-md-10 offset-2" style="color: red" th:if="${#fields.hasErrors('customerBirthday')}"
                                   th:errors="*{customerBirthday}"></p>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Gender :</div>
                                    <div class="col-md-10">
                                        <!--                                        <input type="text" class="form-control" id="cutomerGender" th:field="*{gender}">-->
                                        <select th:field="*{gender}" id="cutomerGenderCreate" class="form-control">
                                            <option th:value="Male">Male</option>
                                            <option th:value="FeMale">FeMale</option>
                                            <option th:value="LGBT">LGBT</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">ID card :</div>
                                    <div class="col-md-10"><input type="text" class="form-control" id="id_cardCreate"
                                                                  th:field="*{idCard}"></div>
                                </div>
                                <p class="col-md-10 offset-2" style="color: red" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></p>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Phone :</div>
                                    <div class="col-md-10"><input type="text" class="form-control"
                                                                  id="phone_numberCraete"
                                                                  th:field="*{phoneNumber}"></div>
                                </div>
                                <p class="col-md-10 offset-2" style="color: red" th:if="${#fields.hasErrors('phoneNumber')}"
                                   th:errors="*{phoneNumber}"></p>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Email :</div>
                                    <div class="col-md-10"><input type="text" class="form-control" id="emailCraete"
                                                                  th:field="*{email}"></div>
                                </div>
                                <p class="col-md-10 offset-2" style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Address :</div>
                                    <div class="col-md-10"><input type="text" class="form-control" id="addressCraete"
                                                                  th:field="*{address}"></div>
                                </div>
                                <p class="col-md-10 offset-2" style="color: red" th:if="${#fields.hasErrors('address')}"
                                   th:errors="*{address}"></p>
                            </div>
                            <br>


                            <!--Grid row-->
                            <div class="row d-flex align-items-center mb-4">

                                <!--Grid column-->
                                <div class="text-center mb-3 col-md-12">
                                    <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1">
                                        Create New Customer
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
</div>
<!------------------------------------------------------------------------->

<!---------------------------------------------Modal Update-------------------------------------------------------------->
<div th:if="${customer1}">
    <div class="modal fade" id="darkModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog form-dark" role="document">
            <!--Content-->
            <div class="modal-content card card-image" style="background-color: forestgreen">
                <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
                    <!--Header-->
                    <div class="modal-header text-center pb-4">
                        <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel">
                            <strong>EDIT</strong> <a
                                class="green-text font-weight-bold"><strong> Customer</strong></a></h3>
                        <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <!--Body-->
                        <form th:object="${customer1}" th:action="@{/customer/updateModal}" method="post">
                            <input type="hidden" id="validate1" th:value="${#fields.hasErrors()}">
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Id:</div>
                                    <div class="col-md-10"><input type="text" class="form-control" id="customerID"
                                                                  th:field="*{customerId}" readonly></div>
                                </div>
                            </div>
                            <br>

                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Customer type:
                                    </div>
                                    <div class="col-md-10">
                                        <select class="form-control" id="typeId" th:field="*{customerType}">
                                            <option th:each="typeCustomer: ${listTypeCustomer}"
                                                    th:text="${typeCustomer.typeCustomerName}"
                                                    th:value="${typeCustomer.typeCustomerId}"></option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Name:</div>
                                    <div class="col-md-10"><input type="text" class="form-control" id="customerName"
                                                                  th:field="*{customerName}"></div>
                                </div>
                                <p class="col-md-10 offset-2" style="color: red" th:if="${#fields.hasErrors('customerName')}"
                                   th:errors="*{customerName}"></p>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Birthday :</div>
                                    <div class="col-md-10"><input type="date" class="form-control" id="customerBirthday"
                                                                  th:field="*{customerBirthday}"></div>
                                </div>
                                <p class="col-md-10 offset-2" style="color: red" th:if="${#fields.hasErrors('customerBirthday')}"
                                   th:errors="*{customerBirthday}"></p>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Gender :</div>
                                    <div class="col-md-10">
                                        <!--                                        <input type="text" class="form-control" id="cutomerGender" th:field="*{gender}">-->
                                        <select th:field="*{gender}" id="cutomerGender" class="form-control">
                                            <option th:value="Male">Male</option>
                                            <option th:value="FeMale">FeMale</option>
                                            <option th:value="LGBT">LGBT</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">ID card :</div>
                                    <div class="col-md-10"><input type="text" class="form-control" id="id_card"
                                                                  th:field="*{idCard}"></div>
                                </div>
                                <p class="col-md-10 offset-2" style="color: red" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></p>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Phone :</div>
                                    <div class="col-md-10"><input type="text" class="form-control" id="phone_number"
                                                                  th:field="*{phoneNumber}"></div>
                                </div>
                                <p class="col-md-10 offset-2" style="color: red" th:if="${#fields.hasErrors('phoneNumber')}"
                                   th:errors="*{phoneNumber}"></p>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Email :</div>
                                    <div class="col-md-10"><input type="text" class="form-control" id="email"
                                                                  th:field="*{email}"></div>
                                </div>
                                <p class="col-md-10 offset-2" style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;padding-top: 5px">Address :</div>
                                    <div class="col-md-10"><input type="text" class="form-control" id="address"
                                                                  th:field="*{address}"></div>
                                </div>
                                <p class="col-md-10 offset-2" style="color: red" th:if="${#fields.hasErrors('address')}"
                                   th:errors="*{address}"></p>
                            </div>
                            <br>


                            <!--Grid row-->
                            <div class="row d-flex align-items-center mb-4">

                                <!--Grid column-->
                                <div class="text-center mb-3 col-md-12">
                                    <button type="submit" class="btn btn-warning btn-block btn-rounded z-depth-1">
                                        Update
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
</div>
<!----------------------------------------------------------------------->
<script>
    $(".update").click(function () {
        $("#darkModalForm input[id='customerID']").val($(this).data("id"));

        $("#darkModalForm input[id='customerName']").val($(this).data("name"));
        $("#darkModalForm input[id='customerBirthday']").val($(this).data("birthday"));
        // $("#darkModalForm input[id='cutomerGender']").val($(this).data("gender"));
        $("#darkModalForm input[id='id_card']").val($(this).data("id_card"));
        $("#darkModalForm input[id='phone_number']").val($(this).data("phone_number"));
        $("#darkModalForm input[id='email']").val($(this).data("email"));
        $("#darkModalForm input[id='address']").val($(this).data("address"));

        var hai = $(this).data("type_id");
        $("#darkModalForm select[id='typeId'] option").each(function () {
            console.log(this.value);
            if (this.value == hai) {
                $(this).prop("selected", true);
                return;
            }
        });
        var hai = $(this).data("gender");
        $("#darkModalForm select[id='cutomerGender'] option").each(function () {
            console.log(this.value);
            if (this.value == hai) {
                $(this).prop("selected", true);
                return;
            }
        });
    })


</script>
<script>
    $(".detail").click(function () {
        $("#detailModalForm input[id='customerIDDetail']").val($(this).data("id"));
        $("#detailModalForm input[id='typeIdDetail']").val($(this).data("type_id"));
        $("#detailModalForm input[id='cutomerGenderDetail']").val($(this).data("gender"));
        $("#detailModalForm input[id='customerNameDetail']").val($(this).data("name"));
        $("#detailModalForm input[id='customerBirthdayDetail']").val($(this).data("birthday"));
        $("#detailModalForm input[id='id_cardDetail']").val($(this).data("id_card"));
        $("#detailModalForm input[id='phone_numberDetail']").val($(this).data("phone_number"));
        $("#detailModalForm input[id='emailDetail']").val($(this).data("email"));
        $("#detailModalForm input[id='addressDetail']").val($(this).data("address"));


    })


</script>
<script>
    if ($("#validate1").val() === 'true') {
        $("#darkModalForm").modal("show");
    }
    if ($("#validate").val() === 'true') {
        $("#createModalForm").modal("show");
    }
</script>


</body>

</html>