<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Of The Day</title>
</head>
<body>
<h1>Image Of The Day</h1>

<img id="img-of-the-day" style="width: 100%"/>
<br>
<br>
<input type="number" min="1" max="5" placeholder="1">
<p>Author : </p>
<input type="text" name="author">


<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=Mapy51tuLewrLRqIPrEnPdEHzcvpcreffhMKlAdB';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function () {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();

</script>
</body>
</html>